<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/js/plugins/syntaxhighlight/styles/shCore.css" rel="stylesheet">
    <link href="/static/js/plugins/syntaxhighlight/styles/shThemeDjango.css" rel="stylesheet">
    <script src="/static/js/plugins/syntaxhighlight/scripts/shCore.js"></script>
    <script src="/static/js/plugins/syntaxhighlight/scripts/shBrushCss.js"></script>
    <script src="/static/js/plugins/syntaxhighlight/scripts/shBrushJScript.js"></script>
    <script src="/static/js/plugins/syntaxhighlight/scripts/shBrushXml.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.config.clipboardSwf = '/static/js/plugins/syntaxhighlight/scripts/clipboard.swf';
        SyntaxHighlighter.all();
    </script>
</head>

<body>

<pre class="brush: html;">
{{ htmlcode }}
</pre>
</html>